<!-- MENU START  -->
<nav class="navbar navbar-dark">
  <!-- NAV CONTAINER START -->
  <div class="container-fluid">
    <!-- NAV BUTTON  -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#menuLateral">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- OFFCANVAS MAIN CONTAINER START -->
    <section
        class="offcanvas offcanvas-start"
        id="menuLateral"
        tabindex="-1"
        aria-labelledby="offcanvasLabel"
    >
      <div class="offcanvas-header" data-bs-theme="dark">
        <h5 class="offcanvas-title text-info">Menu</h5>
        <button
          class="btn-close"
          type="button"
          aria-label="Close"
          data-bs-dismiss="offcanvas"
        ></button>
      </div>
      <!-- OFF CANVAS MENU LINKS  START-->
      <div
        class="offcanvas-body d-flex flex-column justify-content-between px-0"
      >
        <ul class="navbar-nav fs-5 justify-content-evenly">
            <li class="nav-item p-3 py-md-1">
                <a class="nav-link" href="#submenu1" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu1">Dependencias</a>
                <ul class="nav flex-column submenu" id="submenu1">
                    <li class="custom-list-item">
                        <a href="{% url 'distritos' %}">Distrito</a>
                    </li>
                    <li class="custom-list-item">
                        <a href="{% url 'circuitos' %}">Circuito</a>
                    </li>
                    <li class="custom-list-item">
                        <a href="{% url 'subCircuitos' %}">SubCircuito</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item p-3 py-md-1">
                <a class="nav-link" href="#submenu2" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="submenu2">Abastecimiento de Combustible</a>
                <ul class="nav flex-column submenu" id="submenu2">
                    <li class="custom-list-item">
                        <a href="{% url 'tipoCombustibles' %}">Tipo de Combustible</a>
                    </li>
                    <li class="custom-list-item">
                        <a href="{% url 'gasolineras' %}">Gasolinera</a>
                    </li>
                    <li class="custom-list-item">
                        <a href="{% url 'ordenCombustibles' %}">Orden de Combustible</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- enlaces redes sociales -->

        <div class="d-lg-none align-self-center py-3">
          <a href=""><i class="bi bi-twitter px-2 text-info fs-2"></i></a>
          <a href=""><i class="bi bi-facebook px-2 text-info fs-2"></i></a>
          <a href=""><i class="bi bi-github px-2 text-info fs-2"></i></a>
          <a href=""><i class="bi bi-whatsapp px-2 text-info fs-2"></i></a>
        </div>
      </div>
    </section>
    <!-- OFFCANVAS MAIN CONTAINER END  -->
  </div>
</nav>