body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .image-fondo {
    background-image: url('/sistema/core/resource/image/fondo.jpeg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }