{% extends "core/basemenu.html" %} 

{% block title %} Lista de SubCircuitos {% endblock %}

{% block content %}
{% csrf_token %}
<div class="card">
    <div class="card-header">
      <a name="" id="" class="btn btn-success" href="{% url 'crear_subCircuito' %}" role="button">NUEVO REGISTRO</a>
    </div>
    <div class="card-body">
      <h4 class="card-title">SUBCIRCUITOS</h4>
      <div class="table-responsive">
        <table class="table table-primary">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Codigo</th>
              <th scope="col">Nombre</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for subCircuito in subCircuitos %}
            <tr class="">
              <td scope="row">{{ subCircuito.idSubCiruito }}</td>
              <td>{{ subCircuito.codigo }}</td>
              <td>{{ subCircuito.nombre }}</td>
              <td> 
                <a name="" id="" class="btn btn-info" href="{% url 'editar_subCircuito' subCircuito.idSubCiruito %}" role="button">Editar</a>
                <a name="" id="" class="btn btn-danger" href="{% url 'borrar_subCircuito' subCircuito.idSubCiruito %}" role="button">Borrar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>

{% endblock %}