{% extends "core/basemenu.html" %} 

{% block title %} Lista de tipo de combustible {% endblock %}

{% block content %}
{% csrf_token %}

    <div class="card">
        <div class="card-header">
            Editar tipo de combustible
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos del tipo de combustible</h4>
            {% include "tipoCombustible/form.html" %}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

{% endblock %}