{% extends "core/basemenu.html" %} 

{% block title %} Lista de despacho de combustible {% endblock %}

{% block content %}
{% csrf_token %}

    <div class="card">
        <div class="card-header">
            Crear despacho de combustible
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos de despacho de combustible</h4>
            {% include "despachoCombustible/form.html" %}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
    

{% endblock %}