<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for item in formulario %}
    <div class="mb-3">
      <label for="" class="form-label">{{ item.label }}:</label>
      {% if item.label == 'Gasolinera' or item.label == 'Personal' or item.label == 'Vehículo' or item.label == 'Tipo de Combustible'%}
        {{item}}
      {% else %}
        <input type ="{{ item.field.widget.input_type }}"
          class="form-control" 
          name="{{ item.name }}" 
          id="" 
          aria-describedby="helpId" 
          placeholder="{{ item.label }}"
          value="{{ item.value | default:'' }}"
          >
      {% endif %}  
    </div>
    <div class="col-12 help-"> {{ item.errors }} </div>
  {% endfor %}
  <input type="submit" class="btn btn-success" value="Guardar">
  <a name="" id="" class="btn btn-primary" href="{% url 'ordenCombustibles' %}" role="button">Cancelar</a>
</form>