{% extends "core/basemenu.html" %} 

{% block title %} Lista de movilización {% endblock %}

{% block content %}
{% csrf_token %}

    <div class="card">
        <div class="card-header">
            Editar orden de movilización
        </div>
        <div class="card-body">
            <h4 class="card-title">Datos de orden de movilización</h4>
            {% include "ordenMovilizacion/form.html" %}
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>

{% endblock %}